In [5]:
import pandas as pd
from pathlib import Path

In [6]:
# Save file path to variable
budget_csv = Path("budget_data.csv")

# Read with Pandas
budget_df = pd.read_csv(budget_csv)
budget_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [13]:
total_months = len(budget_df.axes[0])
print(f'Total Months: {total_months}')

Total Months: 86

In [23]:
net_profit = budget_df["Profit/Losses"].sum()
print(f'Total: {net_profit}')

Total: 22564198